

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    background-color: rgb(220, 208, 235);

    height: 80px;
}
.logo a{
    color: rgb(10, 65, 21);
    font-size: 40px;
    font-weight: bold;
    margin-left: 10px;
}
.logo a span{
    color: rgb(193, 10, 40);
}
nav ul{
    list-style-type: none;
    display: flex;
    padding: 10px 0px;
}
nav ul li a{
    color: blue;
    font-size: 25px;
    font-weight: 600;
    margin: 20px;
    text-decoration: none;
}
nav ul li a:hover{
    color: white;
}
/* Nevigation end */

.banner{
    background: url(/images/doctor-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 10px;
    width: 100%;
    height: 100vh;
    margin-top: 10px;
}
/* Hero section End */
 h1{
    font-size: 40px;
    color: blueviolet;
    text-align: center;
    background-color: grey;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}
.service{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color:grey;
    height: 450px;
}
.sat{
    border: 1px solid black;
    height: 370px;
    /* border-radius: 5px; */
    padding: 15px;
    margin: 0 20px;
    background-color: white;
}
.sat h2{
    font-size: 25px;
    color: rgb(191, 10, 10);
    padding-bottom: 5px;
}
.sat img{
    width: 70px;
    height: 70px;
}

/* service section end */

h2{
    font-size: 40px;
    text-align: center;
    margin: 10px;
    color: blueviolet;
    font-family: 'Roboto', sans-serif;
}

.about{
    display: flex;
    width: 90%;
    margin: 10px auto;
    padding: 0 30px;
}
.about .image{
    margin: 20px;
    
}
.about .title{
    display: flex;
    flex-direction: column;
    padding: 15px;
    
}
.about .title h3{
    font-size: 30px;
    color: darkgreen;
    padding: 0px 16px;
}
.about .title p{
    font-size: 20px;
}
.about .title a{
    font-size: 20px;
    text-decoration: none;
    background-color: coral;
    color: black;
    padding: 8px 10px;
}
/* about section end */
.gallary{
    height: 900px;
    background-color: lightseagreen;
    padding: 20px;
}
.gallary h4{
    font-size: 40px;
    padding-bottom: 10px;
    color: blueviolet;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
 }
 .men{
   width: 100%;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-gap: 20px;
   margin-left: 10px auto;

 }
 .men img{
  width: 100%;
  height: auto;
 }
/* Gallary section end */
#sonu{
    text-align: center;
    font-size: 40px;
    color: blueviolet;
    font-family: 'Roboto', sans-serif;
    background-color: lightsalmon;

}
.shubham{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    /* margin: 100px auto; */
    gap: 20px;
    position: relative;
    background-color: lightsalmon;
    /* background-image: url(/images/bac.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}
.box img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-left: 8px;
}
.info h2{
    font-size: 25px;
    color: brown;
    font-weight: 700;
    
}
.info h3{
    font-size: 18px;
    color: green;  
}

/* This was made with GlassGenerator.netlify.app */ 

.glass-box{
    display: flex;
    justify-content: space-around;
    width: 99%;
    /* margin: 100px auto; */
}

.glass-container{
    width: 350px;
    height: 220px;
    color: rgb(222, 215, 215);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 26px;
    backdrop-filter: blur(3px);
    background-color: rgba(0,255,251, 0.075);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 3px rgba(255,255,255,0.4) solid;
    border-bottom: 3px rgba(173, 17, 17, 0.35) solid;
    border-right: 3px rgba(10, 110, 24, 0.35) solid;
}
.doctor-name{
    text-align: left;
    margin: 0px;
}


/* review end */

.footer-area {
    /* margin-top: 100px; */
    /* padding: 100px 0; */
    background: #2749c4;
    background: -moz-linear-gradient(left, #2749c4 0%, #6085b2 100%);
    background: -webkit-linear-gradient(left, #2749c4 0%, #6085b2 100%);
    background: linear-gradient(to right, #2749c4 0%, #6085b2 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2749c4', endColorstr='#6085b2', GradientType=1);
    color: #fff;
    position: relative;
}

.main {
    width: 100%;
    margin: 0 auto;
}

.footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;

}

.single-footer {
    width: 230px;
}

.single-footer:first-child {
    width: 300px;
}

.single-footer h4 {
    text-transform: capitalize;
    font-size: 22px;
    margin-bottom: 20px;
}

/* .footer-social a {
    color: #fff;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.footer-social {
    margin-top: 20px;
} */

.single-footer ul {
    list-style: none;
}

.single-footer ul li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.single-footer ul li a {
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
}

.single-footer ul li a i {
    position: absolute;
    left: 0;
    top: 5px;
}

.copy {
    text-align: center;
    text-transform: capitalize;
    margin-top: 50px;
}

.footer-wave-box {
    position: absolute;
    left: 0;
    top: 0;
    height: 45px;
    right: 0;
    width: 100%;
    overflow: hidden;
}

.footer-wave {
    background-image: url('/images/footer-shape.png');
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 200%;
    background-size: 50%;
    background-position: bottom;
    background-repeat: repeat-x;
}

.footer-animation {
    -moz-animation: footer_wave 5s linear infinite;
    -o-animation: footer_wave 5s linear infinite;
    -webkit-animation: footer_wave 5s linear infinite;
    left: auto;
    right: 0;
}

@-moz-keyframeskeyframes footer_wave {
    0% {
        -moz-transform: translateX(0%);
    }
    50% {
        -moz-transform: translateX(25%);
    }
    100% {
        -moz-transform: translateX(50%);
    }
}

@-moz-keyframes footer_wave {
    0% {
        -moz-transform: translateX(0%);
    }
    50% {
        -moz-transform: translateX(25%);
    }
    100% {
        -moz-transform: translateX(50%);
    }
}

@-o-keyframeskeyframes footer_wave {
    0% {
        -o-transform: translateX(0%);
    }
    50% {
        -o-transform: translateX(25%);
    }
    100% {
        -o-transform: translateX(50%);
    }
}

@-webkit-keyframeskeyframes footer_wave {
    0% {
        -webkit-transform: translateX(0%);
    }
    50% {
        -webkit-transform: translateX(25%);
    }
    100% {
        -webkit-transform: translateX(50%);
    }
}

@media only screen and (max-width:600px) {
    .main {
        width: 320px;
    }
    .footer-wave-box {
        display: none;
    }
    .single-footer:first-child,
    .single-footer {
        width: 100%;
        margin-bottom: 30px;
    }
}
